body {
  background-color: whitesmoke;
  font-family: inherit;
  color: black;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2 {
  color: black;
  font-family: Fantasy;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 2em;
  font-weight: lighter;
}

a {
 color: blue;
 text-decoration: none;
}

a:hover {
  color: red;
}

.container {
  width: 500px;
  margin: 0 auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.card {
 background-color: white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 margin: 20px 0px;
 text-align: center;
}

li {
  display: inline-block;
  padding: 20px 20px;
  margin: 0 auto;
  text-align: center;
}

.fa-brands {
  font-size: 50px;
  display: inline-block;
  margin: 0 10px;
  list-style: none;
  padding-left: 0px;
}

p {
  font-size: 19px;
}

img {
  border-radius: 50%;
  width: 200px;
}
